body {
    width: 100%;
    height: 100%;
}

* {
    font-family: 'Poiret One', cursive;
    font-weight: 600;
    color: #2e254d;
}

::selection {
    background-color: #b5a0fa;
    color: #fff;
}

#root {
    top: 18px;
    margin: auto;
    height: 100%;
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 10px;
    background-image: url('./../imgs/root-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/*Block comba hide by default*/
.block-comba{
    
}

.border-square {
    padding: 5px;
    border-radius: 10Px;
    background-color: #ebe6ff;
}

.make-border {
    border: 1px solid #b5a0fa;
}

#healhtOne,
#healhtTwo,
#damagePlayerOne,
#damagePlayerTwo {
    color: #7451eb;
    font-weight: 600;
}

.make-shadow {
    box-shadow: 0 5px 25px rgba(179, 180, 180, 0.2);
    border: 1px solid #f1f1f1;
}

.info-damage {
    border-radius: 10px;
    font-size: 14px;
    padding: 10px;
}

.box {
    padding: 1.5% 1% 3.5% 3%;
    text-align: center;
    border: 0.1px solid #fff;
    display: inline-block;
    box-shadow: 0 5px 25px rgba(158, 158, 158, 0.15);
    cursor: pointer;
    color: transparent;

}

/*Players block*/
#playerTwo,
#playerOne {
    opacity: 0;
}

/*Buttons properties*/
.button-help:hover {
    background-color: #5f34eb;
}

.button-help {
    box-shadow: 0 5px 25px rgba(34, 60, 47, .2);
    transition: 2 box-shadow;
    border: none;
    outline: none;
    letter-spacing: 5px;
    background-color: #7451eb;
    padding: 10px 5px 5px 10px;
    border-radius: 100px 100px 0px 100px;
}

.button-audio {
    height: 100%;
    width: 100%;
    box-shadow: 0 5px 25px rgba(34, 60, 47, .2);
    transition: 2 box-shadow;
    border: none;
    box-sizing: border-box;
    letter-spacing: 5px;
    padding: 10px 10px 10px 10px;
    border-radius: 100px 100px 100px 100px;
}

.button-help:hover,
.button-audio:hover {
    box-shadow: 0 10px 25px rgba(34, 60, 47, .09);
}

/*button Game*/
.make-shadowB {
    box-shadow: 0 5px 25px rgba(179, 180, 180, 0.2);
    border-radius: 10px;
    width: 80%;
    display: flex;
    border: 1px solid #f1f1f1;
}
.button-defend {
    background-color: #7451eb;
    outline: none;
    border: none;
    padding: 15px 50px 15px 50px;
    box-shadow: 0 5px 25px rgba(122, 124, 123, 0.25);
    transition: 2 box-shadow;
    border-radius: 10px;
}

.button-defend:hover {
    background-color: #6039e0;
    box-shadow: 0 5px 25px rgba(255, 255, 255, 0.2);
}

.button-attack {
    background-color: #df6565;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 15px 50px 15px 50px;
    box-shadow: 0 5px 25px rgba(122, 124, 123, 0.25);
    transition: 2 box-shadow;
}

.button-attack:hover {
    background-color: #d34e4e;
    box-shadow: 0 5px 25px rgba(255, 255, 255, 0.2);
}

#forPC {
    display: none;
}

.obstacle,
.weapon,
.player {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px 50px;
}

.obstacle {
    background-image: url('../../assets/imgs/obstacles/wall.png');
}


/*-------------- Medias Queries for Mobile --------------*/

@media (max-width: 767.98px) {

    .main {
        display: none;
    }

    #forPC {
        display: block;
        font-size: 30px;
        font-weight: 200;
        text-align: center;
    }

}

/*-------------- Medias Query for Tablettes --------------*/

@media (max-width: 991.98px) {

    .obstacle,
    .weapon,
    .player {
        background-size: 25px 30px;
    }
}